body{
    background-image: none;
    font-family: 'Poppins', sans-serif;
   
}
section{
    display: flex;

}
.feed{
    float: left;
}
h1{
    font-family: 'Aladin', cursive;
    color: black;
    padding: 20px 0 10px 20px;
}
.abt{
    float: right;
    margin: 20px;
}
section p{
    color: black;
}