* {

    font-family: 'Poppins', sans-serif;
    color: white;

}
body{
    background-image: url("img/cow.png");
    background-repeat: no-repeat;
    background-size: cover;
    
   
}

nav {
    display: flex;
    padding: 3em;
    background-color: #4d4d4d;

}

main {
    padding: 50px;
    margin-top: 20px;
}

.navbar-brand {
    font-family: 'Aladin', cursive;
}

nav li {
    list-style-type: none;
    display: inline-block;
    padding: 0 3em 0 0;
}

nav a {
    text-decoration: none;
    color: white;
}


/*footer*/
footer {
    background-color: #4d4d4d;
    height: 220px;
    color: white;
    padding: 20px 60px 0 60px;

}

.foot_cont {
    display: flex;
    justify-content: space-between;
}

.email,.time,.location {
    display: flex;
}

.social p {
    margin-top: 10px;
}

#usernameInput,#emailInput,#fdback {
    color: black;
}
textarea{
    margin-left: 40px;
}