input[type=submit],input[type=reset]{
    background-color: green;  
}

section{
    padding: 15px;
}
#sheds, #proj, #mon_proj{
    margin: 5px 10px 5px 100px;
}
h4,h5{
    font-weight: 700;
}
input[type=text]{
    color: black;
}
span{
    font-weight: bold;
}